@font-face{
  font-family:HanyiVar-vivo-hwid-60;
  src:url(./HanyiVar-vivo-hwid-60.woff2);
  src:url(./HanyiVar-vivo-hwid-60.woff2) format("woff2"),
      url(./HanyiVar-vivo-hwid-60.woff) format("woff"),
      url(./HanyiVar-vivo-hwid-60.ttf) format("truetype");
  font-style:normal;
  font-weight: normal;
}

@font-face{
  font-family:HanyiVar-vivo-hwid-65;
  src:url(./HanyiVar-vivo-hwid-65.woff2);
  src:url(./HanyiVar-vivo-hwid-65.woff2) format("woff2"),
      url(./HanyiVar-vivo-hwid-65.woff) format("woff"),
      url(./HanyiVar-vivo-hwid-65.ttf) format("truetype");
  font-style:normal;
  font-weight: normal;
}
@font-face{
  font-family:HanyiVar-vivo-hwid-70;
  src:url(./HanyiVar-vivo-hwid-70.woff2);
  src:url(./HanyiVar-vivo-hwid-70.woff2) format("woff2"),
      url(./HanyiVar-vivo-hwid-70.woff) format("woff"),
      url(./HanyiVar-vivo-hwid-70.ttf) format("truetype");
  font-style:normal;
  font-weight: normal;
}
@font-face{
  font-family:HanyiVar-vivo-hwid-80;
  src:url(./HanyiVar-vivo-hwid-80.woff2);
  src:url(./HanyiVar-vivo-hwid-80.woff2) format("woff2"),
      url(./HanyiVar-vivo-hwid-80.woff) format("woff"),
      url(./HanyiVar-vivo-hwid-80.ttf) format("truetype");
  font-style:normal;
  font-weight: normal;
}
@font-face{
  font-family:HanyiVar-vivo-hwid-85;
  src:url(./HanyiVar-vivo-hwid-85.woff2);
  src:url(./HanyiVar-vivo-hwid-85.woff2) format("woff2"),
      url(./HanyiVar-vivo-hwid-85.woff) format("woff"),
      url(./HanyiVar-vivo-hwid-85.ttf) format("truetype");
  font-style:normal;
  font-weight: normal;
}
@font-face{
  font-family:HanyiVar-vivo-hwid-90;
  src:url(./HanyiVar-vivo-hwid-90.woff2);
  src:url(./HanyiVar-vivo-hwid-90.woff2) format("woff2"),
      url(./HanyiVar-vivo-hwid-90.woff) format("woff"),
      url(./HanyiVar-vivo-hwid-90.ttf) format("truetype");
  font-style:normal;
  font-weight: normal;
}

.product-main-content{
  background-color: #000;
}

/* global */

.mb-only{
  display: none;
}

.pc-only{
  display: block;
}

.image-lazy{
  background-image: none!important;
}

@media (max-width: 1000px) {
  .mb-only{
    display: block;
  }

  .pc-only{
    display: none;
  }
}

/* kv */
.section-kv{
  position: relative;
  background-color: #fff;
}

.section-kv-img{
  background-image: url(../images/kv.jpg);
  background-repeat: no-repeat;
  -o-background-size: 1920px auto;
     background-size: 1920px auto;
  background-position: top center;
  width: 100%;
  height: 992px;
}

.kv-buttons{
  position: absolute;
  left: 50%;
  margin-left: 340px;
  top: 620px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.kv-button{
  width: 130px;
  height: 54px;
  border-radius: 27px;
  font-size: 15px;
  font-family:HanyiVar-vivo-hwid-70;
  color: #000;
  border: 1px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px;
  text-decoration: none;
}

.kv-button:hover{
  opacity: 0.6;
}

.kv-button:after{
  content: '';
  display: inline-block;
  width: 6px;
  height: 13px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
     background-size: 100% auto;
  margin-left: 5px;
}

.lp-section{
  background-color: #000;
}

.section-picture-wrap figure{
  background-repeat: no-repeat;
}

/* title */
.section-title{
  background-color: #fff;
  width: 100%;
  height: 992px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title-text{
  font-family:HanyiVar-vivo-hwid-85;
  color: #000;
  font-size:133px;
}

/* content title */
.section-content-wrap{
  width: 1128px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.section-content-title{
  width: 50%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  white-space: nowrap;
}

.section-content-text{
  width: 50%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  white-space: nowrap;
}

.section-content-title h3{
  font-family:HanyiVar-vivo-hwid-85;
  font-size: 86px;
  color: #fff;
  line-height: 1.2;
}

.section-content-text h4{
  font-family:HanyiVar-vivo-hwid-70;
  font-size: 46px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 36px;
}

.section-content-text p{
  font-family:HanyiVar-vivo-hwid-65;
  font-size: 26px;
  color: #b8b8b8;
  line-height: 1.6;
}

/* params */
.section-params-wrap{
  width: 1128px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.section-params-box{
  background-color: #0d0d0d;
  border-radius: 16px;
  width: 100%;
}

.params-box-left{
  float: left;
}

.params-box-right{
  float: right;
}

.params-value{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 26px;
  color: #fff;
}

.params-value strong{
  font-size: 86px;
}

.params-title{
  font-family:HanyiVar-vivo-hwid-70;
  font-size: 46px;
  color: #fff;
}

.params-increase{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 30px;
  color: #fff;
  display: block;
  margin-top: -12px;
  margin-bottom: 12px;
}

.params-increase strong{
  font-size: 60px;
  color:#91edf6;
}

.params-increase i{
  font-size: 36px;
  color:#91edf6;
}

.params-text{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 24px;
  color: #b8b8b8;
  white-space: nowrap;
}

.params-desc{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 20px;
  color: #b8b8b8;
  display: block;
}

.params-line-increase{
  background-image: -webkit-gradient(linear, left top, right top, from(#8becf5), to(#d4f8fb));
  background-image: -webkit-linear-gradient(left, #8becf5, #d4f8fb);
  background-image: -moz-linear-gradient(left, #8becf5, #d4f8fb);
  background-image: -o-linear-gradient(left, #8becf5, #d4f8fb);
  background-image: linear-gradient(to right, #8becf5, #d4f8fb);
  width: 300px;
  height: 8px;
  margin-bottom: 8px;
  display: block;
}

.params-line-origin-1{
  width: 175px;
}

.params-line-origin-2{
  width: 232px;
}

.params-line-origin{
  background-color: #33353a;
  height: 8px;
  display: block;
}

/* cpu */
.section-cpu-title{
  position: relative;
  overflow: hidden;
}
.section-cpu{
  position: relative;
  overflow: hidden;
}

.section-cpu-title{
  height: 2000px;
}

.section-cpu-title .section-title{
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
}

.section-cpu-picture{
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-cpu-img{
  background-image: url(../images/cpu.jpg);
  -o-background-size: 1920px auto;
     background-size: 1920px auto;
  width: 100%;
  background-position: top center;
  height: 1100px;
}

.section-cpu .section-params-wrap{
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.cpu-params-wrap-box1{
  width: 556px;
}

.cpu-params-wrap-box2{
  width: 556px;
}

.cpu-params-box1{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 106px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 866px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.cpu-params-box2{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 105px 0 0 80px;
  height: 261px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 16px;
}

.cpu-params-box3{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 588px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.cpu-params-box3 .section-params-item:first-child{
  margin-bottom: 20px;
}

/* battery */

.section-battery{
  padding-top: 400px;
}

.section-battery .section-params-wrap{
  margin-top: 120px;
}

.battery-icon-wrap{
  padding-bottom: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.battery-big-icon{
  width: 352px;
  height: 184px;
  background-image: url(../images/battery-bg.svg);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  position: relative;
}

.battery-text{
  width: 268px;
  height: 132px;
  position: absolute;
  top: 27px;
  left: 30px;
  border-radius: 4px;
  font-family:HanyiVar-vivo-hwid-70;
  font-size: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.battery-text-container{
  width: 268px;
  padding-left: 20px;
}

.battery-text strong{
  font-size: 60px;
}

.battery-text--black{
  color: #000;
  background-color: #8becf5;
  overflow: hidden;
  max-width: 300px;
}

.battery-params-box1{
  width: 560px;
  height: 890px;
  margin-right: 16px;
  padding: 95px 100px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.battery-params-box2{
  width: 556px;
  height: 890px;
  padding: 95px 110px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* cooling */
.section-cooling{
  padding-top: 250px;
  padding-bottom: 285px;
}

.section-cooling .section-params-wrap{
  margin-top: 120px;
}

.section-cooling .section-params-box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 88px 0;
}

.section-cooling-picture{
  padding-bottom: 120px;
}

.section-cooling-img{
  background-image: url(../images/cooling.jpg);
  -o-background-size: 1920px auto;
     background-size: 1920px auto;
  width: 100%;
  background-position: top center;
  height: 1000px;
}

/* screen */
.section-screen{
  position: relative;
  padding-bottom: 150px;
}

.section-screen .section-content-wrap{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 220px;
  position: relative;
}

.section-screen .section-content-title{
  margin-bottom: 70px;
}

.section-screen-picture{
  position: absolute;
  left: 50%;
  margin-left: -267px;
  top: -57px;
}

.section-screen-img{
  background-image: url(../images/screen.jpg);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 1232px;
  background-position: top center;
  height: 1644px;
}

.screen-benefit-list{
  padding-top: 370px;
  position: relative;
  width: 1128px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
}

.screen-benefit-item{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
}

.screen-benefit-icon{
  width: 100%;
  height: 86px;
  background-repeat: no-repeat;
  -o-background-size: auto 70px;
     background-size: auto 70px;
  background-position: left center;
  display: block;
}

.screen-benefit-text{
  color:#b8b8b8;
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 24px;
  line-height: 1.4;
}

.screen-benefit-icon1{
  background-image: url(../images/screen-icon-1.png);
}

.screen-benefit-icon2{
  background-image: url(../images/screen-icon-2.png);
}

.screen-benefit-icon3{
  background-image: url(../images/screen-icon-3.png);
}

.screen-benefit-icon4{
  background-image: url(../images/screen-icon-4.png);
}

.screen-benefit-icon5{
  background-image: url(../images/screen-icon-5.png);
}

.screen-benefit-icon6{
  background-image: url(../images/screen-icon-6.png);
}

.screen-benefit-icon7{
  background-image: url(../images/screen-icon-7.png);
}

.screen-benefit-icon8{
  background-image: url(../images/screen-icon-8.png);
}

.screen-benefit-icon9{
  background-image: url(../images/screen-icon-9.png);
}

.screen-benefit-icon10{
  background-image: url(../images/screen-icon-10.png);
}

.screen-benefit-icon11{
  background-image: url(../images/screen-icon-11.png);
}

.screen-benefit-icon12{
  background-image: url(../images/screen-icon-12.png);
}


/* camera */
.section-camera{
  background-color: #fff;
}

.section-camera-group{
  width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 992px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.section-camera-group1{
  padding-top: 190px;
  padding-left: 75px;
}

.section-camera-group1 .section-camera-picture{
  left: 50%;
  margin-left: -960px;
  top: 0;
  position: absolute;
  z-index: 1;
}

.section-camera-group2{
  padding-left: 776px;
  padding-top: 356px;
}

.section-camera-group2 .section-camera-picture{
  position: absolute;
  left: 0;
  top: 144px;
  width: 572px;
  height: 762px;
}

.section-camera-group3{
  padding-top: 30px;
}

.section-camera-group3 .section-camera-picture{
  position: absolute;
  left: 194px;
  top: 268px;
  width: 871px;
  height: 653px;
}

.section-camera-group4{
  padding-top: 350px;
  padding-left: 800px;
}

.section-camera-group4 .section-camera-picture{
  position: absolute;
  left: 0;
  top: 160px;
  width: 573px;
  height: 763px;
}

.section-camera-slider{
  width: 100%;
  height: 100%;
  position: relative;
}

.camera-slider-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.camera-slide-item{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: right bottom;
     -moz-transform-origin: right bottom;
       -o-transform-origin: right bottom;
          transform-origin: right bottom;
}

.camera-slider-dots{
  position: absolute;
  bottom: -52px;
}

.slider-dot{
  width: 10px;
  height: 10px;
  background-color: #a0a9ad;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.slider-dot.slider-dot--active{
  background-color: #000;
}

.camera-slider-buttons{
  position: absolute;
  right: 0;
  bottom: -65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
  display: block;
  position: relative;
}

.slider-button:before{
  content: '';
  width: 14px;
  height: 14px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -8px
}

.slider-button-prev:before{
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -6px;
}

.slider-button-next:before{
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-left: -12px;
}

.camera-slide-item figure{
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 100%;
  height: 100%;
}

.slide-img1{
  background-image: url(../images/camera-pic-1.jpg);
}

.slide-img2{
  background-image: url(../images/camera-pic-2.jpg);
}

.slide-img3{
  background-image: url(../images/camera-pic-3.jpg);
}

.slide-img4{
  background-image: url(../images/camera-pic-4.jpg);
}

.slide-img5{
  background-image: url(../images/camera-pic-5.jpg);
}

.slide-img6{
  background-image: url(../images/camera-pic-6.jpg);
}

.slide-img7{
  background-image: url(../images/camera-pic-7.jpg);
}

.slide-img8{
  background-image: url(../images/camera-pic-8.jpg);
}

.slide-img9{
  background-image: url(../images/camera-pic-9.jpg);
}

.section-camera-text{
  position: relative;
  z-index: 2;
}

.section-camera-text h3{
  font-family:HanyiVar-vivo-hwid-85;
  font-size: 86px;
  color: #000;
  line-height: 1.2;
  margin-bottom: 80px;
}

.section-camera-text h4{
  font-family:HanyiVar-vivo-hwid-70;
  font-size: 46px;
  color: #000;
  line-height: 1.2;
  margin-bottom: 40px;
}

.section-camera-text p{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 26px;
  color: #737373;
  line-height: 1.4;

}

.section-camera-img{
  background-image: url(../images/camera.jpg);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 1920px;
  height: 992px;
}


/* game */

.section-game-title{
  height: 2000px;
}

.section-game-title .section-title{
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
}

.section-game-picture{
  padding-top: 211px;
}

.section-game-img{
  background-image: url(../images/games.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  -o-background-size: 1296px auto;
     background-size: 1296px auto;
  width: 100%;
  height: 849px;
}

/* mator */

.section-mator-picture{
  padding-top: 400px;
  padding-bottom: 100px;
}

.section-mator-img{
  background-image: url(../images/mator.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  -o-background-size: 1920px auto;
     background-size: 1920px auto;
  width: 100%;
  height: 991px;
}

.section-mator-list{
  width: 1128px;
  height: 325px;
  margin: 0 auto;
  background-color: #0d0d0d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  margin-top:120px;
  margin-bottom: 250px;
  padding: 0 150px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mator-list-item{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-item-icon{
  width: 86px;
  height: 86px;
  background-repeat: no-repeat;
  display: block;
  -o-background-size: 100% auto;
     background-size: 100% auto;
}

.list-item-text{
  color: #a1a1a1;
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
}

.list-item-icon1{
  background-image: url(../images/mator-icon1.png);
}

.list-item-icon2{
  background-image: url(../images/mator-icon2.png);
}

.list-item-icon3{
  background-image: url(../images/mator-icon3.png);
}

/* train */

.section-train{
  padding-top: 120px;
  padding-bottom: 320px;
}

.section-train-shot{
  width: 1280px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 1300px;
  margin: 120px auto 0 auto;
  position: relative;
}

.train-shot-img1{
  background-image: url(../images/trainee1.jpg);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 567px;
  height: 1161px;
}

.train-shot-img2{
  background-image: url(../images/trainee2.jpg);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 581px;
  height: 663px;
}

.train-shot-img3{
  background-image: url(../images/trainee3.jpg);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 581px;
  height: 320px;
}

.train-shot{
  text-align: center;
}

.train-shot p{
  font-size: 26px;
  color: #a1a1a1;
  font-family:HanyiVar-vivo-hwid-60;
  margin-top: 45px;
}

.train-shot1{
  position: absolute;
  left: 0;
  top: 0;
}

.train-shot2{
  position: absolute;
  left: 590px;
  top: 55px;
}

.train-shot3{
  position: absolute;
  left: 590px;
  top: 838px;
}

/* color */
.section-color{
  background-color: #fff;
  position: relative;
  padding-bottom: 200px;
}

.section-color-img{
  background-image: url(../images/phone-bg.jpg);
  -o-background-size: 1920px auto;
     background-size: 1920px auto;
  background-repeat: no-repeat;
  width: 100%;
  background-position:  top center;
  height: 1942px;
}

.phone-img-blue{
  background-image: url(../images/phone-blue.png);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  background-repeat: no-repeat;
  width: 370px;
  height: 1268px;
}

.phone-img-black{
  background-image: url(../images/phone-black.png);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  background-repeat: no-repeat;
  width: 374px;
  height: 1302px;
}

.phone-picture-blue{
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: 100px;
}

.phone-picture-black{
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -440px;
}

.section-color .section-content-title h3{
  color: #000
}

.section-color .section-content-text h4{
  color: #000
}

.section-color .section-content-text p{
  color: #737373
}

.section-color .section-content-wrap{
  position: absolute;
  top: 1383px;
  left: 50%;
  margin-left: -564px;
}

.color-descs{
  margin-top: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.color-desc-text{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1
}

.color-desc-text h5{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
  display: inline-block;
}

.color-desc-text p{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 20px;
  line-height: 1.3;
}

.section-materials{
  width: 1280px;
  margin: 0 auto;
}

.material-wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 494px;
}

.materail-picture{
  width: 50%;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
}

.materail-img-1{
  background-image: url(../images/back-1.jpg);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 634px;
  height: 495px;
  position: absolute;
  right: 0;
  top: 0;
}

.materail-img-2{
  background-image: url(../images/back-2.jpg);
  background-repeat: no-repeat;
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 640px;
  height: 495px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.material-text{
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.material-text h4{
  font-family:HanyiVar-vivo-hwid-70;
  font-size: 46px;
  color: #000;
  margin-bottom: 40px;
}

.material-text p{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 26px;
  color: #737373;
  line-height: 1.4;
}

.material-wrap:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.material-wrap:nth-child(2) .material-text{
  padding-left: 190px;
}


/* system */
.section-system{
  background-color: #fff;
  width: 100%;
  height: 992px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-system-img{
  background-image: url(../images/os.png);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 720px;
  height :322px;
}

/* nfc */

.section-nfc{
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 200px;
}

.nfc-list{
  width: 1128px;
  margin: 0 auto;
}

.nfc-item-wrap{
  margin-bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.nfc-item{
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.nfc-item-text h3{
  font-family:HanyiVar-vivo-hwid-70;
  font-size: 46px;
  color: #000;
  margin-bottom: 15px;
}

.nfc-item-text p{
  font-family:HanyiVar-vivo-hwid-60;
  font-size: 26px;
  color: #737373;
  line-height: 1.4;
}

.nfc-item-1{
  height: 376px;
  padding-top: 60px;
  padding-left: 100px;
}

.nfc-item-1 .nfc-item-picture{
  position: absolute;
  right: 100px;
  top: 100px;
}

.nfc-item-img-1{
  background-image: url(../images/nfc.jpg);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 225px;
  height: 160px;
}

.nfc-item-2{
  margin-right: 16px;
  height: 850px;
  padding-top:65px;
  padding-left: 100px;
}

.nfc-item-img-2{
  background-image: url(../images/nfc-1.jpg);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 382px;
  height: 516px;
  margin-top: 60px;
}

.nfc-item-3{
  height: 850px;
  padding-top:65px;
  padding-left: 100px;
}

.nfc-item-img-3{
  background-image: url(../images/nfc-3.jpg);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 238px;
  height: 516px;
  margin-top: 60px;
}

.nfc-item-4{
  height: 647px;
  padding-top:65px;
  padding-left: 100px;
}

.nfc-item-4 .nfc-item-picture{
  position: absolute;
  right: 100px;
  top: 66px;
}

.nfc-item-img-4{
  background-image: url(../images/nfc-4.jpg);
  -o-background-size: 100% auto;
     background-size: 100% auto;
  width: 507px;
  height: 515px;
}

/* footer */

.section-footer{
  background-color: #f8f8f8;
  padding-bottom: 200px;
}

.section-footer-title{
  width: 1180px;
  padding-top: 60px;
  margin: 0 auto;
  font-family:HanyiVar-vivo-hwid-65;
  font-size: 23px;
  color: #969aa0;
}

.section-footer-text{
  width: 1128px;
  margin: 0 auto;
  padding-top: 10px;
}

.section-footer-text li{
  font-family:HanyiVar-vivo-hwid-60;
  color: #969aa0;
  font-size: 15px;
  line-height: 1.6;
  list-style: decimal;
}

@supports ((-webkit-background-clip: text) or (background-clip: text)){
  .color-desc-text:nth-child(1) h5{
    background: -webkit-gradient(linear,left top, right top,from(#000),color-stop(70%, #000),to(#fff));
    background: -webkit-linear-gradient(left,#000 0%,#000 70%,#fff 100%);
    background: -moz-linear-gradient(left,#000 0%,#000 70%,#fff 100%);
    background: -o-linear-gradient(left,#000 0%,#000 70%,#fff 100%);
    background: linear-gradient(to right,#000 0%,#000 70%,#fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .color-desc-text:nth-child(2) h5{
    background: -webkit-gradient(linear,left top, right top,from(#499ad9),color-stop(70%, #499ad9),to(#fff));
    background: -webkit-linear-gradient(left,#499ad9 0%,#499ad9 70%,#fff 100%);
    background: -moz-linear-gradient(left,#499ad9 0%,#499ad9 70%,#fff 100%);
    background: -o-linear-gradient(left,#499ad9 0%,#499ad9 70%,#fff 100%);
    background: linear-gradient(to right,#499ad9 0%,#499ad9 70%,#fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@media (-webkit-min-device-pixel-ratio: 0.78125), (min--moz-device-pixel-ratio: 0.78125), (-o-min-device-pixel-ratio: 25/32), (min-resolution: 75dpi), (min-width: 1920px) {
  .section-kv-img{
    background-image: url(../images/kv_2x.jpg);
  }

  .section-cpu-img{
    background-image: url(../images/cpu_2x.jpg);
  }

  .section-cooling-img{
    background-image: url(../images/cooling_2x.jpg);
  }

  .section-screen-img{
    background-image: url(../images/screen_2x.jpg);
  }

  .slide-img1{
    background-image: url(../images/camera-pic-1_2x.jpg);
  }
  
  .slide-img2{
    background-image: url(../images/camera-pic-2_2x.jpg);
  }
  
  .slide-img3{
    background-image: url(../images/camera-pic-3_2x.jpg);
  }
  
  .slide-img4{
    background-image: url(../images/camera-pic-4_2x.jpg);
  }
  
  .slide-img5{
    background-image: url(../images/camera-pic-5_2x.jpg);
  }
  
  .slide-img6{
    background-image: url(../images/camera-pic-6_2x.jpg);
  }
  
  .slide-img7{
    background-image: url(../images/camera-pic-7_2x.jpg);
  }
  
  .slide-img8{
    background-image: url(../images/camera-pic-8_2x.jpg);
  }
  
  .slide-img9{
    background-image: url(../images/camera-pic-9_2x.jpg);
  }

  .section-camera-img{
    background-image: url(../images/camera_2x.jpg);
  }

  .section-game-img{
    background-image: url(../images/games_2x.jpg);
  }

  .section-mator-img{
    background-image: url(../images/mator_2x.jpg);
  }

  .train-shot-img1{
    background-image: url(../images/trainee1_2x.jpg);
  }
  
  .train-shot-img2{
    background-image: url(../images/trainee2_2x.jpg);
  }
  
  .train-shot-img3{
    background-image: url(../images/trainee3_2x.jpg);
  }

  .section-color-img{
    background-image: url(../images/phone-bg_2x.jpg);
  }
  
  .phone-img-blue{
    background-image: url(../images/phone-blue_2x.png);
  }
  
  .phone-img-black{
    background-image: url(../images/phone-black_2x.png);
  }

  .materail-img-1{
    background-image: url(../images/back-1_2x.jpg);
  }
  
  .materail-img-2{
    background-image: url(../images/back-2_2x.jpg);
  }

  .section-system-img{
    background-image: url(../images/os_2x.png);
  }

  .nfc-item-img-1{
    background-image: url(../images/nfc_2x.jpg);
  }

  .nfc-item-img-2{
    background-image: url(../images/nfc-1_2x.jpg);
  }

  .nfc-item-img-3{
    background-image: url(../images/nfc-3_2x.jpg);
  }

  .nfc-item-img-4{
    background-image: url(../images/nfc-4_2x.jpg);
  }
}

@media (min-width: 1921px) {
  .section-kv-img{
    -o-background-size: 2560px auto;
       background-size: 2560px auto;
    height: 1322px;
  }
  
  .kv-buttons{
    margin-left: 453px;
    top: 826px;
  }
  
  .kv-button{
    width: 173px;
    height: 72px;
    border-radius: 36px;
    font-size: 20px;
    margin: 8px;
  }
  
  .kv-button:after{
    width: 8px;
    height: 17px;
    margin-left: 6px;
  }
  
  .section-title{
    height: 1322px;
  }
  
  .section-title-text{
    font-size:177px;
  }
  
  .section-content-wrap{
    width: 1504px;
  }
  
  .section-content-title h3{
    font-size: 114px;
  }
  
  .section-content-text h4{
    font-size: 61px;
    margin-bottom: 48px;
  }
  
  .section-content-text p{
    font-size: 34px;
  }
  
  /* params */
  .section-params-wrap{
    width: 1504px;
  }
  
  .section-params-box{
    border-radius: 21px;
  }
  
  .params-value{
    font-size: 34px;
  }
  
  .params-value strong{
    font-size: 114px;
  }
  
  .params-title{
    font-size: 61px;
  }
  
  .params-increase{
    font-size: 40px;
    margin-top: -16px;
    margin-bottom: 16px;
  }
  
  .params-increase strong{
    font-size: 80px;
  }
  
  .params-increase i{
    font-size: 48px;
  }
  
  .params-text{
    font-size: 32px;
  }
  
  .params-desc{
    font-size: 26px;
  }
  
  .params-line-increase{
    width: 400px;
    height: 10px;
    margin-bottom: 10px;
  }
  
  .params-line-origin{
    height: 10px;
  }

  .params-line-origin-1{
    width: 233px;
  }
  
  .params-line-origin-2{
    width: 310px;
  }
  
  /* cpu */
  .section-cpu{
    padding-top: 266px;
  }
  
  .section-cpu-picture{
    margin-bottom: 266px;
  }
  
  .section-cpu-img{
    -o-background-size: 2560px auto;
       background-size: 2560px auto;
    height: 1466px;
  }
  
  .section-cpu .section-params-wrap{
    margin-top: 160px;
  }
  
  .cpu-params-wrap-box1{
    width: 741px;
  }
  
  .cpu-params-wrap-box2{
    width: 741px;
  }
  
  .cpu-params-box1{
    padding: 120px 141px;
    height: 1154px;
  }
  
  .cpu-params-box2{
    padding: 140px 0 0 106px;
    height: 348px;
    margin-bottom: 21px;
  }
  
  .cpu-params-box3{
    padding: 93px 106px;
    height: 784px;
  }
  
  .cpu-params-box3 .section-params-item:first-child{
    margin-bottom: 26px;
  }
  
  /* battery */
  
  .section-battery{
    padding-top: 533px;
  }
  
  .section-battery .section-params-wrap{
    margin-top: 160px;
  }
  
  .battery-icon-wrap{
    padding-bottom: 266px;
  }
  
  .battery-big-icon{
    width: 469px;
    height: 245px;
  }
  
  .battery-text{
    width: 357px;
    height: 176px;
    top: 36px;
    left: 40px;
    border-radius: 5px;
    font-size: 40px;
    padding-top: 40px;
  }
  
  .battery-text-container{
    width: 357px;
    padding-left: 26px;
  }
  
  .battery-text strong{
    font-size: 80px;
  }
  
  .battery-text--black{
    max-width: 400px;
  }
  
  .battery-params-box1{
    width: 746px;
    height: 1186px;
    margin-right: 21px;
    padding: 126px 133px;
  }
  
  .battery-params-box2{
    width: 741px;
    height: 1186px;
    padding: 126px 146px;
  }
  
  /* cooling */
  .section-cooling{
    padding-top: 333px;
    padding-bottom: 380px;
  }
  
  .section-cooling .section-params-wrap{
    margin-top: 160px;
  }
  
  .section-cooling .section-params-box{
    padding: 117px 0;
  }
  
  .section-cooling-picture{
    padding-bottom: 160px;
  }
  
  .section-cooling-img{
    -o-background-size: 2560px auto;
       background-size: 2560px auto;
    height: 1333px;
  }
  
  /* screen */
  .section-screen{
    padding-bottom: 200px;
  }
  
  .section-screen .section-content-wrap{
    padding-top: 293px;
  }
  
  .section-screen .section-content-title{
    margin-bottom: 93px;
  }
  
  .section-screen-picture{
    top: -76px;
    margin-left: -356px;
  }
  
  .section-screen-img{
    width: 1642px;
    height: 2192px;
  }
  
  .screen-benefit-list{
    padding-top: 493px;
    width: 1504px;
  }
  
  .screen-benefit-item{
    margin-bottom: 53px;
  }
  
  .screen-benefit-icon{
    height: 114px;
  }
  
  .screen-benefit-text{
    font-size: 32px;
  }
  
  /* camera */
  
  .section-camera-group{
    width: 1706px;
    height: 1322px;
  }
  
  .section-camera-group1{
    padding-top: 253px;
    padding-left: 100px;
  }
  
  .section-camera-group1 .section-camera-picture{
    margin-left: -1280px;
  }
  
  .section-camera-group2{
    padding-left: 1034px;
    padding-top: 474px;
  }
  
  .section-camera-group2 .section-camera-picture{
    top: 192px;
    width: 762px;
    height: 1016px;
  }
  
  .section-camera-group3{
    padding-top: 40px;
  }
  
  .section-camera-group3 .section-camera-picture{
    left: 258px;
    top: 357px;
    width: 1161px;
    height: 870px;
  }
  
  .section-camera-group4{
    padding-top: 466px;
    padding-left: 1066px;
  }
  
  .section-camera-group4 .section-camera-picture{
    top: 213px;
    width: 764px;
    height: 1017px;
  }
  
  .camera-slider-dots{
    bottom: -69px;
  }
  
  .slider-dot{
    width: 13px;
    height: 13px;
    margin: 0 6px;
  }
  
  .camera-slider-buttons{
    bottom: -86px;
    width: 160px;
  }
  
  .slider-button{
    width: 53px;
    height: 53px;
  }
  
  .slider-button:before{
    width: 18px;
    height: 18px;
    margin-top: -10px
  }
  
  .slider-button-prev:before{
    margin-left: -8px;
  }
  
  .slider-button-next:before{
    margin-left: -16px;
  }
  
  .section-camera-text h3{
    font-size: 114px;
    margin-bottom: 106px;
  }
  
  .section-camera-text h4{
    font-size: 61px;
    margin-bottom: 53px;
  }
  
  .section-camera-text p{
    font-size: 34px;
  }
  
  .section-camera-img{
    width: 2560px;
    height: 1322px;
  }
  
  
  /* game */
  
  .section-game-picture{
    padding-top: 281px;
  }
  
  .section-game-img{
    -o-background-size: 1728px auto;
       background-size: 1728px auto;
    height: 1132px;
  }
  
  /* mator */
  
  .section-mator-picture{
    padding-top: 533px;
    padding-bottom: 133px;
  }
  
  .section-mator-img{
    -o-background-size: 2560px auto;
       background-size: 2560px auto;
    height: 1321px;
  }
  
  .section-mator-list{
    width: 1504px;
    height: 433px;
    border-radius: 21px;
    margin-top:160px;
    margin-bottom: 333px;
    padding: 0 200px;
  }
  
  .list-item-icon{
    width: 114px;
    height: 114px;
  }
  
  .list-item-text{
    font-size: 34px;
  }
  
  /* train */
  
  .section-train{
    padding-top: 160px;
    padding-bottom: 426px;
  }
  
  .section-train-shot{
    width: 1706px;
    height: 1733px;
    margin: 160px auto 0 auto;
  }
  
  .train-shot-img1{
    width: 756px;
    height: 1548px;
  }
  
  .train-shot-img2{
    width: 774px;
    height: 884px;
  }
  
  .train-shot-img3{
    width: 774px;
    height: 426px;
  }
  
  .train-shot p{
    font-size: 34px;
    margin-top: 60px;
  }
  
  .train-shot2{
    left: 786px;
    top: 73px;
  }
  
  .train-shot3{
    left: 786px;
    top: 1117px;
  }
  
  /* color */
  .section-color{
    padding-bottom: 266px;
  }
  
  .section-color-img{
    -o-background-size: 2560px auto;
       background-size: 2560px auto;
    height: 2589px;
  }
  
  .phone-img-blue{
    width: 493px;
    height: 1690px;
  }
  
  .phone-img-black{
    width: 498px;
    height: 1736px;
  }
  
  .phone-picture-blue{
    top: 133px;
    margin-left: 133px;
  }
  
  .phone-picture-black{
    top: 266px;
    margin-left: -586px;
  }
  
  .section-color .section-content-wrap{
    top: 1844px;
    margin-left: -752px;
  }
  
  .color-descs{
    margin-top: 58px;
  }
  
  .color-desc-text h5{
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .color-desc-text p{
    font-size: 26px;
  }
  
  .section-materials{
    width: 1706px;
  }
  
  .material-wrap{
    height: 658px;
  }
  
  .materail-img-1{
    width: 845px;
    height: 660px;
  }
  
  .materail-img-2{
    width: 853px;
    height: 660px;
  }
  
  .material-text{
    padding-left: 100px;
  }
  
  .material-text h4{
    font-size: 61px;
    margin-bottom: 53px;
  }
  
  .material-text p{
    font-size: 34px;
  }
  
  .material-wrap:nth-child(2) .material-text{
    padding-left: 253px;
  }
  
  
  /* system */
  .section-system{
    height: 1322px;
  }
  
  .section-system-img{
    width: 960px;
    height: 429px;
  }
  
  /* nfc */
  
  .section-nfc{
    padding-top: 133px;
    padding-bottom: 266px;
  }
  
  .nfc-list{
    width: 1504px;
  }
  
  .nfc-item-wrap{
    margin-bottom: 21px;
  }
  
  .nfc-item{
    border-radius: 21px;
  }
  
  .nfc-item-text h3{
    font-size: 61px;
    margin-bottom: 20px;
  }
  
  .nfc-item-text p{
    font-size: 34px;
  }
  
  .nfc-item-1{
    height: 501px;
    padding-top: 80px;
    padding-left: 133px;
  }
  
  .nfc-item-1 .nfc-item-picture{
    right: 133px;
    top: 133px;
  }
  
  .nfc-item-img-1{
    width: 300px;
    height: 213px;
  }
  
  .nfc-item-2{
    margin-right: 21px;
    height: 1133px;
    padding-top:86px;
    padding-left: 133px;
  }
  
  .nfc-item-img-2{
    width: 509px;
    height: 688px;
    margin-top: 80px;
  }
  
  .nfc-item-3{
    height: 1133px;
    padding-top:86px;
    padding-left: 133px;
  }
  
  .nfc-item-img-3{
    width: 317px;
    height: 688px;
    margin-top: 80px;
  }
  
  .nfc-item-4{
    height: 862px;
    padding-top:86px;
    padding-left: 133px;
  }
  
  .nfc-item-4 .nfc-item-picture{
    right: 133px;
    top: 88px;
  }
  
  .nfc-item-img-4{
    width: 676px;
    height: 686px;
  }
  
  /* footer */
  
  .section-footer{
    padding-bottom: 266px;
  }
  
  .section-footer-title{
    width: 1573px;
    padding-top: 80px;
    font-size: 30px;
  }
  
  .section-footer-text{
    width: 1504px;
    padding-top: 13px;
  }
  
  .section-footer-text li{
    font-size: 20px;
  }
}

@media (max-width: 1440px) and (min-width: 1001px) {
  .section-kv-img{
    -o-background-size: 1440px auto;
       background-size: 1440px auto;
    height: 744px;
  }
  
  .kv-buttons{
    margin-left: 255px;
    top: 465px;
  }
  
  .kv-button{
    width: 97px;
    height: 40px;
    border-radius: 20px;
    font-size: 11px;
    margin: 4px;
  }
  
  .kv-button:after{
    width: 4px;
    height: 9px;
    margin-left: 3px;
  }
  
  .section-title{
    height: 744px;
  }
  
  .section-title-text{
    font-size:99px;
  }
  
  .section-content-wrap{
    width: 846px;
  }
  
  .section-content-title h3{
    font-size: 64px;
  }
  
  .section-content-text h4{
    font-size: 34px;
    margin-bottom: 27px;
  }
  
  .section-content-text p{
    font-size: 19px;
  }
  
  /* params */
  .section-params-wrap{
    width: 846px;
  }
  
  .section-params-box{
    border-radius: 12px;
  }
  
  .params-value{
    font-size: 19px;
  }
  
  .params-value strong{
    font-size: 64px;
  }
  
  .params-title{
    font-size: 34px;
  }
  
  .params-increase{
    font-size: 22px;
    margin-top: -9px;
    margin-bottom: 9px;
  }
  
  .params-increase strong{
    font-size: 45px;
  }
  
  .params-increase i{
    font-size: 27px;
  }
  
  .params-text{
    font-size: 18px;
  }
  
  .params-desc{
    font-size: 15px;
  }
  
  .params-line-increase{
    width: 225px;
    height: 6px;
    margin-bottom: 6px;
  }
  
  .params-line-origin{
    height: 6px;
  }

  .params-line-origin-1{
    width: 131px;
  }
  
  .params-line-origin-2{
    width: 174px;
  }
  
  /* cpu */
  .section-cpu{
    padding-top: 150px;
  }
  
  .section-cpu-picture{
    margin-bottom: 150px;
  }
  
  .section-cpu-img{
    -o-background-size: 1440px auto;
       background-size: 1440px auto;
    height: 825px;
  }
  
  .section-cpu .section-params-wrap{
    margin-top: 90px;
  }
  
  .cpu-params-wrap-box1{
    width: 417px;
  }
  
  .cpu-params-wrap-box2{
    width: 417px;
  }
  
  .cpu-params-box1{
    padding: 67px 79px;
    height: 649px;
  }
  
  .cpu-params-box2{
    padding: 78px 0 0 60px;
    height: 195px;
    margin-bottom: 12px;
  }
  
  .cpu-params-box3{
    padding: 52px 60px;
    height: 441px;
  }
  
  .cpu-params-box3 .section-params-item:first-child{
    margin-bottom: 15px;
  }
  
  /* battery */
  
  .section-battery{
    padding-top: 300px;
  }
  
  .section-battery .section-params-wrap{
    margin-top: 90px;
  }
  
  .battery-icon-wrap{
    padding-bottom: 150px;
  }
  
  .battery-big-icon{
    width: 264px;
    height: 138px;
  }
  
  .battery-text{
    width: 201px;
    height: 99px;
    top: 20px;
    left: 22px;
    border-radius: 3px;
    font-size: 22px;
    padding-top: 22px;
  }
  
  .battery-text-container{
    width: 201px;
    padding-left: 15px;
  }
  
  .battery-text strong{
    font-size: 45px;
  }
  
  .battery-text--black{
    max-width: 225px;
  }
  
  .battery-params-box1{
    width: 420px;
    height: 667px;
    margin-right: 12px;
    padding: 71px 75px;
  }
  
  .battery-params-box2{
    width: 417px;
    height: 667px;
    padding: 71px 82px;
  }
  
  /* cooling */
  .section-cooling{
    padding-top: 187px;
    padding-bottom: 213px;
  }
  
  .section-cooling .section-params-wrap{
    margin-top: 90px;
  }
  
  .section-cooling .section-params-box{
    padding: 66px 0;
  }
  
  .section-cooling-picture{
    padding-bottom: 90px;
  }
  
  .section-cooling-img{
    -o-background-size: 1440px auto;
       background-size: 1440px auto;
    height: 750px;
  }
  
  /* screen */
  .section-screen{
    padding-bottom: 112px;
  }
  
  .section-screen .section-content-wrap{
    padding-top: 165px;
  }
  
  .section-screen .section-content-title{
    margin-bottom: 52px;
  }
  
  .section-screen-picture{
    top: -42px;
    margin-left: -200px;
  }
  
  .section-screen-img{
    width: 924px;
    height: 1233px;
  }
  
  .screen-benefit-list{
    padding-top: 277px;
    width: 846px;
  }
  
  .screen-benefit-item{
    margin-bottom: 30px;
  }
  
  .screen-benefit-icon{
    height: 64px;
  }
  
  .screen-benefit-text{
    font-size: 18px;
  }
  
  /* camera */
  
  .section-camera-group{
    width: 960px;
    height: 744px;
  }
  
  .section-camera-group1{
    padding-top: 142px;
    padding-left: 56px;
  }
  
  .section-camera-group1 .section-camera-picture{
    margin-left: -720px;
  }
  
  .section-camera-group2{
    padding-left: 582px;
    padding-top: 267px;
  }
  
  .section-camera-group2 .section-camera-picture{
    top: 108px;
    width: 429px;
    height: 571px;
  }
  
  .section-camera-group3{
    padding-top: 22px;
  }
  
  .section-camera-group3 .section-camera-picture{
    left: 145px;
    top: 201px;
    width: 653px;
    height: 489px;
  }
  
  .section-camera-group4{
    padding-top: 262px;
    padding-left: 600px;
  }
  
  .section-camera-group4 .section-camera-picture{
    top: 120px;
    width: 429px;
    height: 572px;
  }
  
  .camera-slider-dots{
    bottom: -39px;
  }
  
  .slider-dot{
    width: 7px;
    height: 7px;
    margin: 0 3px;
  }
  
  .camera-slider-buttons{
    bottom: -48px;
    width: 90px;
  }
  
  .slider-button{
    width: 30px;
    height: 30px;
  }
  
  .slider-button:before{
    width: 10px;
    height: 10px;
    margin-top: -6px
  }
  
  .slider-button-prev:before{
    margin-left: -4px;
  }
  
  .slider-button-next:before{
    margin-left: -9px;
  }
  
  .section-camera-text h3{
    font-size: 64px;
    margin-bottom: 60px;
  }
  
  .section-camera-text h4{
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .section-camera-text p{
    font-size: 19px;
  }
  
  .section-camera-img{
    width: 1440px;
    height: 744px;
  }
  
  
  /* game */
  
  .section-game-picture{
    padding-top: 158px;
  }
  
  .section-game-img{
    -o-background-size: 972px auto;
       background-size: 972px auto;
    height: 636px;
  }
  
  /* mator */
  
  .section-mator-picture{
    padding-top: 300px;
    padding-bottom: 75px;
  }
  
  .section-mator-img{
    -o-background-size: 1440px auto;
       background-size: 1440px auto;
    height: 743px;
  }
  
  .section-mator-list{
    width: 846px;
    height: 243px;
    border-radius: 12px;
    margin-top:90px;
    margin-bottom: 187px;
    padding: 0 112px;
  }
  
  .list-item-icon{
    width: 64px;
    height: 64px;
  }
  
  .list-item-text{
    font-size: 19px;
  }
  
  /* train */
  
  .section-train{
    padding-top: 90px;
    padding-bottom: 240px;
  }
  
  .section-train-shot{
    width: 960px;
    height: 975px;
    margin: 90px auto 0 auto;
  }
  
  .train-shot-img1{
    width: 425px;
    height: 870px;
  }
  
  .train-shot-img2{
    width: 435px;
    height: 497px;
  }
  
  .train-shot-img3{
    width: 435px;
    height: 240px;
  }
  
  .train-shot p{
    font-size: 19px;
    margin-top: 33px;
  }
  
  .train-shot2{
    left: 442px;
    top: 41px;
  }
  
  .train-shot3{
    left: 442px;
    top: 628px;
  }
  
  /* color */
  .section-color{
    padding-bottom: 150px;
  }
  
  .section-color-img{
    -o-background-size: 1440px auto;
       background-size: 1440px auto;
    height: 1456px;
  }
  
  .phone-img-blue{
    width: 277px;
    height: 951px;
  }
  
  .phone-img-black{
    width: 280px;
    height: 976px;
  }
  
  .phone-picture-blue{
    top: 75px;
    margin-left: 75px;
  }
  
  .phone-picture-black{
    top: 150px;
    margin-left: -330px;
  }
  
  .section-color .section-content-wrap{
    top: 1037px;
    margin-left: -423px;
  }
  
  .color-descs{
    margin-top: 33px;
  }
  
  .color-desc-text h5{
    font-size: 18px;
    margin-bottom: 11px;
  }
  
  .color-desc-text p{
    font-size: 15px;
  }
  
  .section-materials{
    width: 960px;
  }
  
  .material-wrap{
    height: 370px;
  }
  
  .materail-img-1{
    width: 475px;
    height: 371px;
  }
  
  .materail-img-2{
    width: 480px;
    height: 371px;
  }
  
  .material-text{
    padding-left: 56px;
  }
  
  .material-text h4{
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .material-text p{
    font-size: 19px;
  }
  
  .material-wrap:nth-child(2) .material-text{
    padding-left: 142px;
  }
  
  
  /* system */
  .section-system{
    height: 744px;
  }
  
  .section-system-img{
    width: 540px;
    height: 241px;
  }
  
  /* nfc */
  
  .section-nfc{
    padding-top: 75px;
    padding-bottom: 150px;
  }
  
  .nfc-list{
    width: 846px;
  }
  
  .nfc-item-wrap{
    margin-bottom: 12px;
  }
  
  .nfc-item{
    border-radius: 12px;
  }
  
  .nfc-item-text h3{
    font-size: 34px;
    margin-bottom: 11px;
  }
  
  .nfc-item-text p{
    font-size: 19px;
  }
  
  .nfc-item-1{
    height: 282px;
    padding-top: 45px;
    padding-left: 75px;
  }
  
  .nfc-item-1 .nfc-item-picture{
    right: 75px;
    top: 75px;
  }
  
  .nfc-item-img-1{
    width: 168px;
    height: 120px;
  }
  
  .nfc-item-2{
    margin-right: 12px;
    height: 637px;
    padding-top:48px;
    padding-left: 75px;
  }
  
  .nfc-item-img-2{
    width: 286px;
    height: 387px;
    margin-top: 45px;
  }
  
  .nfc-item-3{
    height: 637px;
    padding-top:48px;
    padding-left: 75px;
  }
  
  .nfc-item-img-3{
    width: 178px;
    height: 387px;
    margin-top: 45px;
  }
  
  .nfc-item-4{
    height: 485px;
    padding-top:48px;
    padding-left: 75px;
  }
  
  .nfc-item-4 .nfc-item-picture{
    right: 75px;
    top: 49px;
  }
  
  .nfc-item-img-4{
    width: 380px;
    height: 386px;
  }
  
  /* footer */
  
  .section-footer{
    padding-bottom: 150px;
  }
  
  .section-footer-title{
    width: 885px;
    padding-top: 45px;
    font-size: 17px;
  }
  
  .section-footer-text{
    width: 846px;
    padding-top: 7px;
  }
  
  .section-footer-text li{
    font-size: 11px;
  }
}

@media (max-width: 1000px) {

}